.line-bar-chart {
    font-family: "Arial", sans-serif;
    background-color: #fff;
    width: 40%;
    margin-top: -50px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: auto;
    overflow: hidden; /* Ensure the shadows of the bars don't spill out */
  }
  
  .recharts-cartesian-axis-tick {
    font-size: 14px;
    fill: #333;
  }
  
  .recharts-bar-rectangle {
    transition: fill 250ms ease-in-out;
  }
  
  .recharts-tooltip-wrapper {
    outline: none;
  }
  
  .recharts-tooltip-wrapper .recharts-default-tooltip {
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .recharts-default-tooltip {
    background-color: #fff !important;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
  }
  
  /* Adjust tick and tooltip styles as necessary */
  