@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.767);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }